USE [master]
GO
/****** Object:  Database [cs6232-g2]    Script Date: 4/15/2019 10:11:52 PM ******/
CREATE DATABASE [cs6232-g2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'healthcare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\healthcare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'healthcare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\healthcare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cs6232-g2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cs6232-g2]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 4/15/2019 10:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[personID] [int] NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 4/15/2019 10:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment](
	[appointmentID] [int] IDENTITY(1,1) NOT NULL,
	[patientID] [int] NOT NULL,
	[doctorID] [int] NOT NULL,
	[dateTime] [smalldatetime] NOT NULL,
	[reasonForVisit] [varchar](50) NOT NULL,
 CONSTRAINT [PK_appointment] PRIMARY KEY CLUSTERED 
(
	[appointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diagnosis]    Script Date: 4/15/2019 10:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diagnosis](
	[diagnosisID] [int] IDENTITY(1,1) NOT NULL,
	[visitID] [int] NOT NULL,
	[initialDiagnosis] [varchar](50) NOT NULL,
	[finalDiagnosis] [varchar](50) NULL,
 CONSTRAINT [PK_diagnosis] PRIMARY KEY CLUSTERED 
(
	[diagnosisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor]    Script Date: 4/15/2019 10:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor](
	[doctorID] [int] IDENTITY(1,1) NOT NULL,
	[personID] [int] NOT NULL,
 CONSTRAINT [PK_doctor] PRIMARY KEY CLUSTERED 
(
	[doctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[personID] [int] NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](250) NOT NULL,
 CONSTRAINT [PK_personID] PRIMARY KEY CLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nurse]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nurse](
	[nurseID] [int] IDENTITY(1,1) NOT NULL,
	[personID] [int] NOT NULL,
	[active_status] [bit] NULL,
 CONSTRAINT [PK_nurse] PRIMARY KEY CLUSTERED 
(
	[nurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patient]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient](
	[patientID] [int] IDENTITY(1,1) NOT NULL,
	[personID] [int] NOT NULL,
 CONSTRAINT [PK_patient] PRIMARY KEY CLUSTERED 
(
	[patientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[personID] [int] IDENTITY(1,1) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[streetAddress] [varchar](50) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[stateCode] [varchar](2) NOT NULL,
	[zipCode] [int] NOT NULL,
	[phoneNumber] [char](14) NOT NULL,
	[ssn] [char](14) NOT NULL,
 CONSTRAINT [PK_person] PRIMARY KEY CLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialty]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialty](
	[specialtyName] [varchar](50) NOT NULL,
	[doctorID] [int] NOT NULL,
	[specialtyDescription] [varchar](150) NOT NULL,
 CONSTRAINT [PK_specialty] PRIMARY KEY CLUSTERED 
(
	[specialtyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[state]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[state](
	[stateCode] [varchar](2) NOT NULL,
	[stateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_state] PRIMARY KEY CLUSTERED 
(
	[stateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[testCode] [varchar](50) NOT NULL,
	[testName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[testCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testResult]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testResult](
	[visitID] [int] NOT NULL,
	[testCode] [varchar](50) NOT NULL,
	[testDate] [smalldatetime] NOT NULL,
	[results] [varchar](50) NULL,
	[normal] [bit] NULL,
 CONSTRAINT [PK_testResults] PRIMARY KEY CLUSTERED 
(
	[visitID] ASC,
	[testCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visit]    Script Date: 4/15/2019 10:11:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visit](
	[visitID] [int] IDENTITY(1,1) NOT NULL,
	[nurseID] [int] NOT NULL,
	[appointmentID] [int] NOT NULL,
	[weight] [decimal](3, 0) NOT NULL,
	[systolicBP] [int] NOT NULL,
	[diastolicBP] [int] NOT NULL,
	[temp] [decimal](4, 1) NOT NULL,
	[pulse] [int] NOT NULL,
	[symptoms] [varchar](250) NOT NULL,
 CONSTRAINT [PK_visit] PRIMARY KEY CLUSTERED 
(
	[visitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([adminID], [personID]) VALUES (2, 4)
INSERT [dbo].[admin] ([adminID], [personID]) VALUES (1, 6)
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[appointment] ON 

INSERT [dbo].[appointment] ([appointmentID], [patientID], [doctorID], [dateTime], [reasonForVisit]) VALUES (1, 5, 3, CAST(N'2018-11-05T09:00:00' AS SmallDateTime), N'Yearly physical')
INSERT [dbo].[appointment] ([appointmentID], [patientID], [doctorID], [dateTime], [reasonForVisit]) VALUES (2, 16, 1, CAST(N'2018-11-12T11:45:00' AS SmallDateTime), N'Pain when urinating')
INSERT [dbo].[appointment] ([appointmentID], [patientID], [doctorID], [dateTime], [reasonForVisit]) VALUES (3, 5, 3, CAST(N'2018-11-15T08:30:00' AS SmallDateTime), N'Nausea and vomitting')
SET IDENTITY_INSERT [dbo].[appointment] OFF
SET IDENTITY_INSERT [dbo].[diagnosis] ON 

INSERT [dbo].[diagnosis] ([diagnosisID], [visitID], [initialDiagnosis], [finalDiagnosis]) VALUES (1, 1, N'Premenstrual Syndrom', NULL)
INSERT [dbo].[diagnosis] ([diagnosisID], [visitID], [initialDiagnosis], [finalDiagnosis]) VALUES (2, 3, N'GERD', NULL)
INSERT [dbo].[diagnosis] ([diagnosisID], [visitID], [initialDiagnosis], [finalDiagnosis]) VALUES (3, 5, N'Influenza A', NULL)
SET IDENTITY_INSERT [dbo].[diagnosis] OFF
SET IDENTITY_INSERT [dbo].[doctor] ON 

INSERT [dbo].[doctor] ([doctorID], [personID]) VALUES (5, 22)
INSERT [dbo].[doctor] ([doctorID], [personID]) VALUES (4, 27)
INSERT [dbo].[doctor] ([doctorID], [personID]) VALUES (1, 65)
SET IDENTITY_INSERT [dbo].[doctor] OFF
INSERT [dbo].[login] ([personID], [userName], [password]) VALUES (3, N'emurphy', N'1BF6CAD62878AA11D07C9BE0E33432F96F9FA00840EC2B3BF0859DE5882C1EDC')
INSERT [dbo].[login] ([personID], [userName], [password]) VALUES (4, N'mavery', N'BE8CE80E886D002DFFA339E27E20EF580556D7AB42C82BD8F20F19AC06198086')
INSERT [dbo].[login] ([personID], [userName], [password]) VALUES (6, N'scox', N'4AB2BE5DAB2C8EA0F42D6935A87E45F2E51A15F5850AFD637392DD3CB9CAB6FC')
SET IDENTITY_INSERT [dbo].[nurse] ON 

INSERT [dbo].[nurse] ([nurseID], [personID], [active_status]) VALUES (1, 3, 1)
INSERT [dbo].[nurse] ([nurseID], [personID], [active_status]) VALUES (2, 7, 1)
INSERT [dbo].[nurse] ([nurseID], [personID], [active_status]) VALUES (3, 23, 1)
SET IDENTITY_INSERT [dbo].[nurse] OFF
SET IDENTITY_INSERT [dbo].[patient] ON 

INSERT [dbo].[patient] ([patientID], [personID]) VALUES (1, 1)
INSERT [dbo].[patient] ([patientID], [personID]) VALUES (2, 2)
INSERT [dbo].[patient] ([patientID], [personID]) VALUES (3, 5)
SET IDENTITY_INSERT [dbo].[patient] OFF
SET IDENTITY_INSERT [dbo].[person] ON 

INSERT [dbo].[person] ([personID], [lastName], [firstName], [dateOfBirth], [streetAddress], [city], [stateCode], [zipCode], [phoneNumber], [ssn]) VALUES (1, N'Collins', N'Stuart', CAST(N'1972-06-01' AS Date), N'397 Clement Street', N'Atlanta', N'GA', 30303, N'404-432-8902  ', N'669-16-7111   ')
INSERT [dbo].[person] ([personID], [lastName], [firstName], [dateOfBirth], [streetAddress], [city], [stateCode], [zipCode], [phoneNumber], [ssn]) VALUES (2, N'Springer', N'Franklin', CAST(N'1977-08-15' AS Date), N'110 Austin Avenue', N'Waycross', N'GA', 31503, N'912-614-7643  ', N'673-26-2722   ')
INSERT [dbo].[person] ([personID], [lastName], [firstName], [dateOfBirth], [streetAddress], [city], [stateCode], [zipCode], [phoneNumber], [ssn]) VALUES (3, N'Murphy', N'Eva', CAST(N'1964-05-12' AS Date), N'4310 Riverside Drive', N'Athens', N'GA', 30606, N'706-818-5094  ', N'668-28-4151   ')
SET IDENTITY_INSERT [dbo].[person] OFF
INSERT [dbo].[specialty] ([specialtyName], [doctorID], [specialtyDescription]) VALUES (N'Cardiologist', 2, N'Diagnoses and treats diseases of the cardiovasular system.')
INSERT [dbo].[specialty] ([specialtyName], [doctorID], [specialtyDescription]) VALUES (N'Gastroenterologist', 4, N'Diagnoses and treats diseases of the digestive system.')
INSERT [dbo].[specialty] ([specialtyName], [doctorID], [specialtyDescription]) VALUES (N'Nephrologists ', 1, N'Diagnoses and treats diseases conditions of the kidneys and urinary system.')
INSERT [dbo].[state] ([stateCode], [stateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[state] ([stateCode], [stateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[state] ([stateCode], [stateName]) VALUES (N'AR', N'Arkansas')
INSERT [dbo].[test] ([testCode], [testName]) VALUES (N'CMP', N'Comprehensive Metabolic Panel')
INSERT [dbo].[test] ([testCode], [testName]) VALUES (N'Cr', N'Creatinine')
INSERT [dbo].[test] ([testCode], [testName]) VALUES (N'hA1C', N'Hemoglobin A1C')
INSERT [dbo].[testResult] ([visitID], [testCode], [testDate], [results], [normal]) VALUES (1, N'CMP', CAST(N'2018-11-05T09:00:00' AS SmallDateTime), N'normal', NULL)
INSERT [dbo].[testResult] ([visitID], [testCode], [testDate], [results], [normal]) VALUES (1, N'hCG', CAST(N'2018-11-05T09:15:00' AS SmallDateTime), N'negative', NULL)
INSERT [dbo].[testResult] ([visitID], [testCode], [testDate], [results], [normal]) VALUES (6, N'TSH', CAST(N'2018-11-08T10:30:00' AS SmallDateTime), N'abnormal', NULL)
SET IDENTITY_INSERT [dbo].[visit] ON 

INSERT [dbo].[visit] ([visitID], [nurseID], [appointmentID], [weight], [systolicBP], [diastolicBP], [temp], [pulse], [symptoms]) VALUES (1, 1, 1, CAST(118 AS Decimal(3, 0)), 125, 67, CAST(98.6 AS Decimal(4, 1)), 66, N'Increased appetite, nausea, and fatigue ')
INSERT [dbo].[visit] ([visitID], [nurseID], [appointmentID], [weight], [systolicBP], [diastolicBP], [temp], [pulse], [symptoms]) VALUES (3, 2, 12, CAST(237 AS Decimal(3, 0)), 145, 88, CAST(98.7 AS Decimal(4, 1)), 99, N'Sharp chest pain, 7/10 pain, tingling in arm')
INSERT [dbo].[visit] ([visitID], [nurseID], [appointmentID], [weight], [systolicBP], [diastolicBP], [temp], [pulse], [symptoms]) VALUES (5, 1, 13, CAST(154 AS Decimal(3, 0)), 130, 77, CAST(102.5 AS Decimal(4, 1)), 105, N'Fever, chills, congestion, headache, insomnia')
SET IDENTITY_INSERT [dbo].[visit] OFF
/****** Object:  Index [IX_admin]    Script Date: 4/15/2019 10:11:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_admin] ON [dbo].[admin]
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [visitID_diagnosis]    Script Date: 4/15/2019 10:11:53 PM ******/
ALTER TABLE [dbo].[diagnosis] ADD  CONSTRAINT [visitID_diagnosis] UNIQUE NONCLUSTERED 
(
	[visitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor]    Script Date: 4/15/2019 10:11:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_doctor] ON [dbo].[doctor]
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_nurse]    Script Date: 4/15/2019 10:11:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_nurse] ON [dbo].[nurse]
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_patient]    Script Date: 4/15/2019 10:11:53 PM ******/
ALTER TABLE [dbo].[patient] ADD  CONSTRAINT [IX_patient] UNIQUE NONCLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_visit]    Script Date: 4/15/2019 10:11:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_visit] ON [dbo].[visit]
(
	[visitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[nurse] ADD  DEFAULT ('TRUE') FOR [active_status]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [FK_personID_admin] FOREIGN KEY([personID])
REFERENCES [dbo].[person] ([personID])
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [FK_personID_admin]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD  CONSTRAINT [FK_doctorID_appointment] FOREIGN KEY([doctorID])
REFERENCES [dbo].[doctor] ([doctorID])
GO
ALTER TABLE [dbo].[appointment] CHECK CONSTRAINT [FK_doctorID_appointment]
GO
ALTER TABLE [dbo].[diagnosis]  WITH CHECK ADD  CONSTRAINT [FK_visitID_diagnosis] FOREIGN KEY([visitID])
REFERENCES [dbo].[visit] ([visitID])
GO
ALTER TABLE [dbo].[diagnosis] CHECK CONSTRAINT [FK_visitID_diagnosis]
GO
ALTER TABLE [dbo].[doctor]  WITH CHECK ADD  CONSTRAINT [FK_doctor_person] FOREIGN KEY([personID])
REFERENCES [dbo].[person] ([personID])
GO
ALTER TABLE [dbo].[doctor] CHECK CONSTRAINT [FK_doctor_person]
GO
ALTER TABLE [dbo].[login]  WITH CHECK ADD  CONSTRAINT [FK_login_person] FOREIGN KEY([personID])
REFERENCES [dbo].[person] ([personID])
GO
ALTER TABLE [dbo].[login] CHECK CONSTRAINT [FK_login_person]
GO
ALTER TABLE [dbo].[nurse]  WITH CHECK ADD  CONSTRAINT [FK_nurse_login] FOREIGN KEY([personID])
REFERENCES [dbo].[person] ([personID])
GO
ALTER TABLE [dbo].[nurse] CHECK CONSTRAINT [FK_nurse_login]
GO
ALTER TABLE [dbo].[patient]  WITH CHECK ADD  CONSTRAINT [FK_patient_person] FOREIGN KEY([personID])
REFERENCES [dbo].[person] ([personID])
GO
ALTER TABLE [dbo].[patient] CHECK CONSTRAINT [FK_patient_person]
GO
ALTER TABLE [dbo].[person]  WITH CHECK ADD  CONSTRAINT [FK_person_person] FOREIGN KEY([stateCode])
REFERENCES [dbo].[state] ([stateCode])
GO
ALTER TABLE [dbo].[person] CHECK CONSTRAINT [FK_person_person]
GO
ALTER TABLE [dbo].[specialty]  WITH CHECK ADD  CONSTRAINT [FK_doctorID_specialty] FOREIGN KEY([doctorID])
REFERENCES [dbo].[doctor] ([doctorID])
GO
ALTER TABLE [dbo].[specialty] CHECK CONSTRAINT [FK_doctorID_specialty]
GO
ALTER TABLE [dbo].[testResult]  WITH CHECK ADD  CONSTRAINT [FK_testCode_testResults] FOREIGN KEY([testCode])
REFERENCES [dbo].[test] ([testCode])
GO
ALTER TABLE [dbo].[testResult] CHECK CONSTRAINT [FK_testCode_testResults]
GO
ALTER TABLE [dbo].[testResult]  WITH CHECK ADD  CONSTRAINT [FK_testResults_visit] FOREIGN KEY([visitID])
REFERENCES [dbo].[visit] ([visitID])
GO
ALTER TABLE [dbo].[testResult] CHECK CONSTRAINT [FK_testResults_visit]
GO
ALTER TABLE [dbo].[visit]  WITH CHECK ADD  CONSTRAINT [FK_appointmentID_visit] FOREIGN KEY([appointmentID])
REFERENCES [dbo].[appointment] ([appointmentID])
GO
ALTER TABLE [dbo].[visit] CHECK CONSTRAINT [FK_appointmentID_visit]
GO
ALTER TABLE [dbo].[visit]  WITH CHECK ADD  CONSTRAINT [FK_nuseID_visit] FOREIGN KEY([nurseID])
REFERENCES [dbo].[nurse] ([nurseID])
GO
ALTER TABLE [dbo].[visit] CHECK CONSTRAINT [FK_nuseID_visit]
GO
USE [master]
GO
